name: Build and publish SNAP package

run-name: Build ONLYOFFICE_Docs-${{ github.event.inputs.version }}-${{ github.event.inputs.build }}

on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        description: 'Version'
        required: true
      build:
        description: 'Build number'
        type: string
        required: true

jobs:
  build_amd64:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4

    - name: Replace Version and Build Number
      id: repl
      run: |
        VERSION=${{ github.event.inputs.version }}
        BUILD_NUMBER=${{ github.event.inputs.build }}

    - name: Build snap
      uses: snapcore/action-build@v1
      id: build

    - name: Publish AMD64 snap
      uses: snapcore/action-publish@v1
      env:
        SNAPCRAFT_STORE_CREDENTIALS: ${{ secrets.SNAPCRAFT_TOKEN }}
      with:
        snap: onlyoffice-ds_${{ github.event.inputs.version }}_amd64.snap
        release: beta

    - name: Notice for revision
      run: |
        REVISION=$(cat /home/runner/actions-runner/*/_diag/pages/*.log | grep Revision | awk '{print $3}' | tail -n 1)
        for STR in $REVISION; do
          echo "::notice::Snap published to revision $STR"
        done

